@import '../variables.scss';

.IdleScreen {
  margin-bottom: 40px;
}

.IdleScreen .IdleScreen-logo {
  max-width: 400px;

  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 300s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 300s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from
  {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-18000deg);
  }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to
  {
    -moz-transform: rotateY(-18000deg);
    -ms-transform: rotteY(-18000deg);
    transform: rotateY(-18000deg);
  }
}


.IdleScreen.spin-out .IdleScreen-logo {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 15s;
  animation-timing-function: ease-in;
  animation-duration: 15s;
}
